ion-content {
  display: flex;
  justify-content: center; 
  align-items: center;     
  height: 100vh;           
}

ion-card {
  margin-top: 0;           
  border-radius: 15px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  width: 90%;              
  max-width: 400px;        
  padding: 20px;           
  background-color: #1e1e1e; 
  color: #fff;             
}

ion-card-title {
  text-align: center;
  font-size: 20pt;
  font-weight: bold;
  margin-bottom: 10px;     
}

ion-label {
  text-align: center;
  color: #aaa;             
}
ion-card:hover {
  transform: scale(1.05); 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

ion-button {
  font-size: 16px;         
  margin: 20px auto;       
}

ion-button.edit-button {
  --background: #007bff;              
  --color: white;                     
  border-radius: 30px;               
  width: 140px;                      
  height: 50px;                      
  display: flex;                     
  justify-content: center;           
  align-items: center;               
  font-weight: bold;                 
  margin-top: 10px;                 
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
  &:hover {
    background-color: #0056b3;      
}
}
ion-item {
  border-radius: 10px;
  --background: none;       
  margin: 10px 0;           
  padding: 10px 15px;       
  border: 1px solid #333;   
}

