.registroForm{
  display: grid;
  justify-content: center;
  gap: 15px;
  margin-top: 50px;
}
  
  ion-item {
    width: 100%; /* Asegurarte de que el input ocupe todo el ancho disponible */
  }
  
  #alerta {
    color: red; /* Cambiar el color de las alertas a rojo */
    text-align: center; /* Centrar el texto de las alertas */
  }
  
  .button-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrar el contenido */
    margin-top: 30px; /* Separar los botones del resto del contenido */
  }
  
  
  
  p {
    margin-top: 10px; /* Separar el texto del botón */
    text-align: center; /* Centrar el texto */
  }
  
  