<ion-header color="white">
  <ion-toolbar color="primary">
    <ion-title style="color: white;" mode="ios">Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark" >
  <form [formGroup]="registroForm" class="registroForm">
    <ion-item color="dark" style="border-radius: 15px; border: solid 1px white;">
      <ion-input type="text" placeholder="Nombre" formControlName="nombre" 
      label="Nombre: " labelPlacement="floating"></ion-input>
    </ion-item>

    <div id="alerta" *ngIf="registroForm.get('nombre')?.invalid && (registroForm.get('nombre')?.dirty || registroForm.get('nombre')?.touched)">
      <div *ngIf="registroForm.get('nombre')?.hasError('required')">*Nombre es obligatorio</div>
      <div *ngIf="registroForm.get('nombre')?.hasError('minlength')">*Nombre debe tener mínimo 3 caracteres</div>
    </div>

    <ion-item color="dark" style="border-radius: 15px; border: solid 1px white;">
      <ion-input type="email" placeholder="Correo..." formControlName="email" label="Correo: " labelPlacement="floating"></ion-input>
    </ion-item>

    <div id="alerta" *ngIf="registroForm.get('email')?.invalid && (registroForm.get('email')?.dirty || registroForm.get('email')?.touched)">
      <div *ngIf="registroForm.get('email')?.hasError('required')">*Email es obligatorio</div>
      <div *ngIf="registroForm.get('email')?.hasError('email')">*Email no es válido</div>
    </div>

    <ion-item color="dark" style="border-radius: 15px; border: solid 1px white;">
      <ion-input type="password" placeholder="Contraseña: " formControlName="password" label="Contraseña: " labelPlacement="floating"></ion-input>
    </ion-item>

    <div id="alerta" *ngIf="registroForm.get('password')?.invalid && (registroForm.get('password')?.dirty || registroForm.get('password')?.touched)">
      <div *ngIf="registroForm.get('password')?.hasError('required')">*La contraseña es obligatoria</div>
      <div *ngIf="registroForm.get('password')?.hasError('pattern')">*La contraseña debe tener mínimo 8 caracteres, una letra y un número</div>
    </div>

    <ion-item color="dark" style="border-radius: 15px; border: solid 1px white;">
      <ion-input type="text" placeholder="RUT" formControlName="rut" label="RUT: " labelPlacement="floating"></ion-input>
    </ion-item>

    <div id="alerta" *ngIf="registroForm.get('rut')?.invalid && (registroForm.get('rut')?.dirty || registroForm.get('rut')?.touched)">
      <div *ngIf="registroForm.get('rut')?.hasError('required')">*RUT es obligatorio</div>
      <div *ngIf="registroForm.get('rut')?.hasError('minlength')">*RUT debe tener mínimo 10 caracteres incluyendo guión</div>
    </div>

    <div class="button-container">
      <ion-button style="color: white;" (click)="crearUsuario()" [disabled]="!registroForm.valid" shape="round" expand="block" fill="solid">
        Registrarse
      </ion-button>
      <p>Ya tienes una cuenta? <a (click)="inicio()">Inicia sesión</a></p>
    </div>
  </form>
</ion-content>
<ion-footer>
  <ion-toolbar style="padding: 20px;"  color="primary">
      <ion-title style="text-align: center; color:  white; margin-top: -20px; ">IT-Event-Admin</ion-title>
    <div style="text-align: center; margin-top: 35px;">
      <ion-button  color="light" fill="clear" href="https://www.facebook.com/tu_pagina" target="_blank">
        <ion-icon style="color: white;" slot="icon-only" name="logo-facebook"></ion-icon>
      </ion-button>
      <ion-button color="light" fill="clear" href="https://www.twitter.com/tu_pagina" target="_blank">
        <ion-icon style="color: white;" slot="icon-only" name="logo-twitter"></ion-icon>
      </ion-button>
      <ion-button color="light" fill="clear" href="https://www.instagram.com/tu_pagina" target="_blank">
        <ion-icon style="color: white;" slot="icon-only" name="logo-instagram"></ion-icon>
      </ion-button>
      <ion-button color="light" fill="clear" href="https://www.linkedin.com/tu_pagina" target="_blank">
        <ion-icon style="color: white;" slot="icon-only" name="logo-linkedin"></ion-icon>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-footer>
