<ion-header color="white">
  <ion-toolbar>
    <ion-title mode="ios">Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <form [formGroup]="registroForm" class="registroForm">
    <ion-item style="border-radius: 15px;">
      <ion-input type="text" placeholder="Nombre" formControlName="nombre" 
      label="Nombre: " labelPlacement="floating"></ion-input>
    </ion-item>

    <div id="alerta" *ngIf="registroForm.get('nombre')?.invalid && (registroForm.get('nombre')?.dirty || registroForm.get('nombre')?.touched)">
      <div *ngIf="registroForm.get('nombre')?.hasError('required')">*Nombre es obligatorio</div>
      <div *ngIf="registroForm.get('nombre')?.hasError('minlength')">*Nombre debe tener mínimo 3 caracteres</div>
    </div>

    <ion-item style="border-radius: 15px;">
      <ion-input type="email" placeholder="Correo..." formControlName="email" label="Correo: " labelPlacement="floating"></ion-input>
    </ion-item>

    <div id="alerta" *ngIf="registroForm.get('email')?.invalid && (registroForm.get('email')?.dirty || registroForm.get('email')?.touched)">
      <div *ngIf="registroForm.get('email')?.hasError('required')">*Email es obligatorio</div>
      <div *ngIf="registroForm.get('email')?.hasError('email')">*Email no es válido</div>
    </div>

    <ion-item style="border-radius: 15px;">
      <ion-input type="password" placeholder="Contraseña: " formControlName="password" label="Contraseña: " labelPlacement="floating"></ion-input>
    </ion-item>

    <div id="alerta" *ngIf="registroForm.get('password')?.invalid && (registroForm.get('password')?.dirty || registroForm.get('password')?.touched)">
      <div *ngIf="registroForm.get('password')?.hasError('required')">*La contraseña es obligatoria</div>
      <div *ngIf="registroForm.get('password')?.hasError('pattern')">*La contraseña debe tener mínimo 8 caracteres, una letra y un número</div>
    </div>

    <ion-item style="border-radius: 15px;">
      <ion-input type="text" placeholder="RUT" formControlName="rut" label="RUT: " labelPlacement="floating"></ion-input>
    </ion-item>

    <div id="alerta" *ngIf="registroForm.get('rut')?.invalid && (registroForm.get('rut')?.dirty || registroForm.get('rut')?.touched)">
      <div *ngIf="registroForm.get('rut')?.hasError('required')">*RUT es obligatorio</div>
      <div *ngIf="registroForm.get('rut')?.hasError('minlength')">*RUT debe tener mínimo 10 caracteres incluyendo guión</div>
    </div>

    <div class="button-container">
      <ion-button (click)="crearUsuario()" [disabled]="!registroForm.valid" shape="round" expand="block" fill="solid">
        Registrarse
      </ion-button>
      <p>Ya tienes una cuenta? <a (click)="inicio()">Inicia sesión</a></p>
    </div>
  </form>
</ion-content>
