<ion-header color="white">
  <ion-toolbar>
    <ion-title mode="ios" style="text-align: center;">Inicio sesion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-text-center">
  <form [formGroup]="loginForm" class="centered-form">
    <ion-item>
      <ion-input type="email" placeholder="Ingrese correo electronico..." label="Correo" labelPlacement="floating"
        formControlName="email">
      </ion-input>
    </ion-item>

    <div id="alerta" *ngIf="loginForm.get('email')?.invalid && (loginForm.get('email')?.dirty || loginForm.get('email')?.touched)">
      *Campo requerido
    </div>
    <div id="alerta" *ngIf="loginForm.get('email')?.hasError('email')">
      *Correo invalido
    </div>

    <ion-item>
      <ion-input type="password" placeholder="Ingrese su contraseña..." label="Contraseña: " labelPlacement="floating"
        formControlName="password"></ion-input>
    </ion-item>

    <div id="alerta" *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)">
      *Campo requerido
    </div>
    <div id="alerta" *ngIf="loginForm.get('password')?.hasError('minlength')">
      *La contraseña debe tener al menos 6 caracteres
    </div>

    <div>
      <ion-button (click)="login()" expand="block" fill="solid" shape="round" color="primary" [disabled]="loginForm.invalid">
        Entrar
      </ion-button>
    </div>

    <!-- El registro ahora es un texto con enlace -->
    <div class="register-link">
      <a (click)="registrar()" class="register-text">Registrarse</a>
    </div>
  </form>
</ion-content>
