<ion-header color="dark">
  <ion-toolbar color="dark">
    <ion-buttons slot="end">
      <ion-button slot="end" (click)="goBack()">
        Regresar
      </ion-button>
    </ion-buttons>
    <ion-title>Eventos Registrados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <ion-card *ngFor="let event of events">
    <img [src]="event.imagen" >
    <ion-card-header color="dark">
      <ion-card-title style="color: white;">Nombre evento: {{ event.nombre }}</ion-card-title>
      <ion-card-subtitle style="color: white;">Fecha evento:  {{ event.fecha }}</ion-card-subtitle>
      <p style="color: white;">Lugar: {{ event.lugar }}</p>
    </ion-card-header>
  </ion-card>
</ion-content>
