<ion-menu style="color: white;" side="end" menu-id="first" content-id="main-content">
  <ion-header>
    <ion-toolbar mode=ios color="primary" >
      <ion-title style="color: white; font-size: 15px;">Ajustes</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item button href="/perfil">
        <ion-icon style="color: white;" slot="start" name="person-circle-outline"></ion-icon>
        <ion-label style="color: white;">Mi Perfil</ion-label>
      </ion-item>
      <ion-item button href="/registrados">
        <ion-icon style="color: white;" slot="start" name="person-circle-outline"></ion-icon>
        <ion-label style="color: white;">Registrados</ion-label>
      </ion-item>
      <ion-item button (click)="logout()">
        <ion-icon style="color: white;" slot="start" name="lock-closed-outline"></ion-icon>
      <ion-label style="color: white;">Cerrar Sesión</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-content id="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title style="color: white; text-align: center;">IT-Event</ion-title>
      <ion-buttons slot="end">
        <ion-menu-button menu="first">
          <ion-icon style="color: white;" name="menu-outline"></ion-icon>
        </ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="tab1" href="/tabs/tab1">
        <ion-icon aria-hidden="true" name="home-outline" color="black"></ion-icon>
        <ion-label color="primary">Home</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="tab2" href="/tabs/tab2">
        <ion-icon aria-hidden="true" name="calendar-outline" color="black"></ion-icon>
        <ion-label color="primary">Eventos</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="tab3" href="/tabs/tab3">
        <ion-icon aria-hidden="true" name="calendar-outline" color="black"></ion-icon>
        <ion-label color="primary">Participaciones</ion-label>
      </ion-tab-button>
      
      
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
