<ion-header color="white" [translucent]="true">
  <ion-toolbar mode="ios">
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="white" [fullscreen]="true" class="ion-padding">
  <ion-list>
    <ion-item *ngFor="let e of eventos" (click)="buscarEvento(e)">
      <ion-card style="background-color: #1F1F1F; border-radius: 15px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);">
        <ion-card-header style="text-align: center; padding: 10px;">
          <ion-card-title style="font-size: 20px; color: white;">{{e.nombre}}</ion-card-title>
        </ion-card-header>
        <ion-card-content style="text-align: center;">
          <ion-img class="evento-img" [src]="getImagePath(e.imagen)"></ion-img>
          <br>
          <p style="color: white;">Descripción: {{e.descripcion}}</p>
          <p style="color: white;">Fecha: {{e.fecha}}</p>
          <p style="color: white;">Lugar: {{e.lugar}}</p>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>
