<ion-header>
  <ion-toolbar color="dark">
    <ion-title style="font-weight: 600; text-align: center; font-size: 22px; color: #ffffff;">Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  style="background-color: #121212!important; padding: 10px;">
  
  
  <ion-item style="max-height: 350px;" color="primary">
  
    <div style=" max-height: 250px; height: 100%; ">
      <br>
        <p style="padding: 10px; color: white; text-align: center; font-size: 20px;">Bienvenidos a la app IT-Event-User , les mostraremos las categorias de eventos relacionados con la carrera de informatica, sus horarios, lugar del evento y descripciones sobre aquellos</p>
      
    </div>
  
  </ion-item>
  
  <div style="display: flex; justify-content: center; align-items: center; ">
    <h2>Te podria interesar</h2>
  </div>
  
  <swiper-container style="margin-top: -100px;"
    (slideChange)="swiperSlideChanged($event)"
    [autoplay]="{ delay: 3000 }"
    [loop]="true"
    [pagination]="true"

    >
    
    <swiper-slide style="margin-top: 100px;"  *ngFor="let e of eventos">
      <div style="display: flex; flex-direction: column; align-items: center; text-align: center; padding: 20px; background-color: #1F1F1F; border-radius: 20px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);">
        <h3 style="font-size: 20px; color: #ffffff; margin-bottom: 10px;">{{e.nombre}}</h3>
        <img class="evento-img" [src]="e.imagen" alt="Imagen del evento">
        <p style="color: #ffffff; margin-top: 10px;">{{e.descripcion}}</p>
        <p style="color: #ffffff; margin-top: 10px;">Fecha: {{e.fecha}}</p>
      </div>
    </swiper-slide >
  </swiper-container>


  
</ion-content>
