<ion-header>
  <ion-toolbar color="dark">
    <ion-title style="font-size: 17px; color: white; text-align: center;">Dejar Opinión</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="regresar()">
        <ion-icon slot="end"></ion-icon>
        Regresar
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content style="background-color: #121212!important">
  <ion-item color="dark">
    <ion-label style="color: white; " position="floating">Tu Comentario</ion-label>
    <ion-textarea style="color: white;" [(ngModel)]="comentario" labelPlacement="floating"></ion-textarea>
  </ion-item>
  <ion-button expand="full" (click)="enviarComentario()">Enviar</ion-button>
</ion-content>
