<ion-header color="white" [translucent]="true">
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="white" [fullscreen]="true">
  <form>
    <ion-item>
      <ion-input 
        type="text" 
        placeholder="Nombre..." 
        label="Nombre:" 
        labelPlacement="floating" 
        [(ngModel)]="user.nombre" 
        name="nombre"
        [ngClass]="{'input-error': !user.nombre }">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-input 
        type="text" 
        placeholder="Correo..." 
        label="Correo:" 
        labelPlacement="floating" 
        [(ngModel)]="user.email" 
        name="email"
        [ngClass]="{'input-error': !user.email}">
      </ion-input>
    </ion-item>
    

    <ion-button (click)="updateUsuario()" expand="block" fill="clear" shape="round">
      Actualizar información
    </ion-button>
  </form>
</ion-content>
